<div class="container" id="available">

  <div class="row">
      <div class="col-md-12">
          <section>
  
            {{ .Content }}
                
            {{ range sort .Site.Data.clutches "weight" }}
              <div class="col-md-12">
                {{ if .sire }}
                  <hr>
                  <div class="heading">
                    <h2>
                      <a href="/breeders/active#{{.sire}}">{{title .sire}}</a> x 
                      <a href="/breeders/active#{{.dam}}">{{title  .dam}}</a>
                    </h2>
                  </div>
                  <p><em>{{.filial}}</em></p>
                  {{ if .desc }}
                    <p>{{.desc}}</p>
                  {{ end }}
                  <dl>
                    <dt>Hatch Range:</dt> 
                    <dd>{{ .hatchstart }} - {{ .hatchend }} (shipping {{.shipping}})</dd>
                  
                    <dt>Hatch Rate:</dt> 
                    <dd><sup>{{ .hatchnum }}</sup>&frasl;<sub>{{ .clutchsize }}</sub></dd>
                  </dl>
                  {{ range .babies }}
                  <div class="col-md-4">
                    {{ partial "babies.html" . }}
                  </div>
                  {{ else }}
                  <h3>Sold Out!</h3>
                  {{ end }}
                  
                {{ end }}
              </div>
            
            {{ else }}
          
              <h1>Sorry! No babies available at this time.</h1>
              <p>Please feel free to contact us via email or follow us on Facebook to get updates on future clutches.</p>
              
            {{ end }}

      </section>
    </div>
  </div>
</div>
