<link href="{{ "css/d3.css" | relURL}}" rel="stylesheet">
<script src="https://kit.fontawesome.com/5dbbd346bb.js" crossorigin="anonymous"></script>
{{ if .Params.plotly }}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{{ end }}
<link href="{{ "css/pagedtable.css" | relURL}}" rel="stylesheet">
<link href="{{ "css/tabset.css" | relURL}}" rel="stylesheet">
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/b2c78131db22ca405dc132a2b/977ccc3081f695ac4837c483e.js");</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/introjs.min.css" crossorigin="anonymous" referrerpolicy="strict-origin-when-cross-origin" />
<meta name="facebook-domain-verification" content="r4j79eky5053mbwlbo32onnws561ae" />
