<script src="https://kit.fontawesome.com/5dbbd346bb.js" crossorigin="anonymous"></script>
<link href="{{ "css/pagedtable.css" | relURL}}" rel="stylesheet">
<link href="{{ "css/tabset.css" | relURL}}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/introjs.min.css" crossorigin="anonymous" referrerpolicy="strict-origin-when-cross-origin" />
<meta name="facebook-domain-verification" content="r4j79eky5053mbwlbo32onnws561ae" />
{{ partial "schema.html" . }}
