<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <link rel="canonical" href="{{ .Permalink }}" />
  </head>

  <body>
   <div class="elfsight-app-d2eab9d6-490a-41b0-a221-787e53650166" data-elfsight-app-lazy></div>
   <div class="elfsight-app-d269a8f4-4144-4ed8-bfd9-ebfcf89d18da" data-elfsight-app-lazy></div>
    <div id="ybbb">

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
          <div class="container" id="ybbb-available">
          
            <div class="row">
                <div class="col-md-12">
                    <section>
                      <hr>
                      <a href="{{ "panther-chameleons-for-sale/#age" | relURL}}" class="btn btn-primary"><i class="fas fa-backward"></i> Go Back</a>
                      <hr>
                      {{ $baseURL := .Site.BaseURL }}
                      <p>At iPardalis, we take pride in our collection of YBBB Panther Chameleons, meticulously bred and individually raised to peak condition. YBBB is our favorite color combination, and we have spent nearly a decade perfecting yellow bodies with blue bars. You will be hard-pressed to find a better example outside Ambilobe, Madagascar. Many breeders work with our YBBB founding stock, but we encourage you to scrutinize our chameleons' lineage and quality. We breed the best of the best, continually strengthening our diverse bloodlines generation after generation.</p>
                      <hr>
                      {{ $clutches := sort .Site.Data.clutches "hatchend" "desc" }}
                      {{ $listedclutches := where $clutches "listed" true}}
                      <h5>YBBB (Yellow Body Blue Bar)</h5>
                      <hr>
                      <div class="row">
                      {{ $.Scratch.Set "babycount" 0 }}
                      {{ range $i, $element := (sort $listedclutches "hatchend" "desc") }}
                      
                        {{ $pairingimage := .image }}
                        {{ $sire := .sire }}
                        {{ $dam := .dam }}
                        {{ $hatchend := .hatchend }}
                        {{ $hatchstart := .hatchstart }}
                        {{ $ageMonths := div (sub now.Unix (time $hatchstart).Unix) 2592000 }}
                        
                        {{ $filial := .filial }}
                        {{ $clutchid := printf "%s%s%s" .sire .dam .laid }}
                        
                        {{ range $j, $baby := .babies }}
                          
                          {{ $phenotype := "" }}
                          {{ if .phenotype }}
                            
                          {{ else }}
                            {{ if ne .listed false }}
                              {{ $.Scratch.Set "babycount" (add ($.Scratch.Get "babycount") 1) }}
                              <div class="col-md-4">
                                {{ partial "babies.html" (dict "context" . "hatchend" $hatchend "sire" $sire "dam" $dam "page" $.Page "filial" $filial "ageMonths" $ageMonths "scratch" $.Scratch) }}
                              </div>
                              {{ if modBool ($.Scratch.Get "babycount") 3 }}
                                </div>
                                <div class="row">  
                              {{ end }}
                            {{ end }}
                          {{ end }}
                        {{ end }}
                      {{ end }}
                      </div>
                      <hr>
                      
                      {{ .Content }}
                      
                      {{ partial "whyipardalis.html" . }}
                      
                  </section>
                </div>
              </div>
            </div>
          </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>