/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgb(53, 100, 165);
}

/* Add some padding inside the card container */
.container {
  padding: 5px 15px;
}

.sold-out:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 66, 0, 0.9);
}

p.price {
  font-size:20px;
  font-family: Helvetica, Arial, sans-serif;
}
s.price.sale
{
  color: rgb(255, 66, 0);
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
}
s.price.markup
{
  color: rgb(53, 100, 165);
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
}