<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "custom_headers.html" . }}
    {{ partial "headers.html" . }}
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}
        
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="heading text-center">
                <h1>iPardalis Chameleon Breeders</h1>
              </div>
              <p class="lead">Small-batch Panther Chameleon breeders located in Poolesville, Maryland with detailed <a href={{ ref . "categories/past-clutches/" }}>lineage</a> and <a href={{ ref . "blog/chameleon-breeder-scorecard/index.md" }}>chameleon breeding statistics</a> stretching back to 2015.</p>
              
            </div>
          </div>
        </div>

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}
        
        <div class="elfsight-app-aab1e5e2-9692-4560-8fae-c8a3ec538bbf" data-elfsight-app-lazy></div>
        <br><br>
        
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="heading text-center">
                <h2><a href="/aboutus/">About Us</a></h2>
              </div>
              <p class="lead">We are chameleon breeders located in Poolesville, Maryland. iPardalis stands for Individually-raised Panther Chameleons, and we were the first Panther Chameleon Breeder to commit to raising our chameleons individually in 2015. Now, we are breeding our 7th generation of Ambilobe Panther Chameleons (Furcifer pardalis) and 2nd gen of Furcifer minor (Lesser Chameleons).</p>
            </div>
          </div>
        </div>
        
        {{ partial "see_more.html" . }}
        <br>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p class="lead">We specialize in <a href="{{ "blog/2024/03/15/ambilobe-panther-chameleons-usa/" | relURL }}">Ambilobe Panther Chameleons</a>. Our Ambilobe Chameleons are highly coveted as founding stock animals in the industry due to their vibrant color, robustness, and trustworthy lineage from Ambilobe, Madagascar.</p> 

              <p class="lead">We ensure our chameleons receive the same level of care regardless of their sex. We only sell Panther Chameleons that are bred in captivity and are over 12 grams in weight. We do not sell hatchlings, babies (under 3 months old), <a href="{{ "blog/2024/05/17/panther-chameleon-eggs-for-sale" | relURL }}">eggs</a>, or wild-caught animals. Every iPardalis Panther Chameleon has a <a href="/tos/">life-long guarantee</a>.</p>
            </div>
          </div>
        </div>
        
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-12">
              <div class="elfsight-app-553e8d3a-697a-418a-95d3-a2448c4d853d" data-elfsight-app-lazy></div>
            </div>
          </div>
        </div>

        {{ partial "recent_posts.html" . }}
        
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-12">
              <div class="elfsight-app-d86989f4-556b-47e9-9bb1-39d2b6e55845" data-elfsight-app-lazy></div>
              <hr>
              <p class="lead">On YouTube, we interviewed some of our favorite chameleon breeders and researchers as a host on the <a href="https://chameleonacademy.com/ipardalis-podcast/">Chameleon Academy Network</a>. Our first series covers <a href="{{ "blog/2022/10/14/2022-10-14-selectively-breeding-furcifer-pardalis/" | relURL }}">Selectively Breeding Panther Chameleons</a>. Guests discuss their breeding principles, what we know about Panther Chameleon genetics and a few business ethics and sales topics.</p>
            </div>
          </div>
        </div>

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}
        <div class="elfsight-app-c6b883a2-f97e-4bc6-a775-0b39829ac3ab" data-elfsight-app-lazy></div>

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
