<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "custom_headers.html" . }}
    {{ partial "headers.html" . }}
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-12" style="text-align: center;">
              <h1>iPardalis Chameleon Breeders</h1>
              <p>Small-batch chameleon breeder located in Poolesville, Maryland with detailed <a href={{ ref . "categories/past-clutches/" }}>lineage</a> and <a href={{ ref . "blog/chameleon-breeder-scorecard/index.md" }}>statistics</a> back to our first pairing between Flash and Judy in 2015.</p>
              
            </div>
          </div>
        </div>

        {{ partial "carousel.html" . }}

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}
        
        <div class="elfsight-app-aab1e5e2-9692-4560-8fae-c8a3ec538bbf" data-elfsight-app-lazy></div>
        <br><br>
        
        {{ partial "see_more.html" . }}
        
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-12">
              <div class="elfsight-app-553e8d3a-697a-418a-95d3-a2448c4d853d" data-elfsight-app-lazy></div>
            </div>
          </div>
        </div>

        {{ partial "recent_posts.html" . }}
        
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-12">
              <div class="elfsight-app-d86989f4-556b-47e9-9bb1-39d2b6e55845" data-elfsight-app-lazy></div>
            </div>
          </div>
        </div>

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}
        <div class="elfsight-app-c6b883a2-f97e-4bc6-a775-0b39829ac3ab" data-elfsight-app-lazy></div>

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
