.tabset>.tab {
  display: none;
  border: solid 1px black;
  padding: 5px; }
.tabset>.tab.active {
  display: block; }
.tabset>.tab>:first-child {
  display: none; }

.tabset>.tabmenu {
  margin-bottom: 0;
  padding: 0; }
.tabset>.tabmenu li {
  display: inline-block;
  margin: 0 2px 0 0; }
.tabset>.tabmenu button {
  text-decoration: none;
  font-weight: normal; }
.tabset>.tabmenu .active button {
  text-decoration: solid underline;
  font-weight: bold; }
.tabset>.tabmenu .active button:before {
  content: "> "; }

.tabset-dropdown > .nav-tabs {
  display: inline-table;
  max-height: 500px;
  min-height: 44px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.tabset-dropdown > .nav-tabs > li.active:before {
  content: "";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open > li.active:before {
  content: "&#xe258;";
  border: none;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open:before {
  content: "";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.tabset-dropdown > .nav-tabs > li.active {
  display: block;
}

.tabset-dropdown > .nav-tabs > li > a,
.tabset-dropdown > .nav-tabs > li > a:focus,
.tabset-dropdown > .nav-tabs > li > a:hover {
  border: none;
  display: inline-block;
  border-radius: 4px;
  background-color: transparent;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open > li {
  display: block;
  float: none;
}

.tabset-dropdown > .nav-tabs > li {
  display: none;
}