<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <link rel="canonical" href="{{ .Permalink }}" />
  </head>

  <body>
   <div class="elfsight-app-d2eab9d6-490a-41b0-a221-787e53650166" data-elfsight-app-lazy></div>
   <div class="elfsight-app-d269a8f4-4144-4ed8-bfd9-ebfcf89d18da" data-elfsight-app-lazy></div>
    <div id="males">

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
          <div class="container" id="males-available">
          
            <div class="row">
                <div class="col-md-12">
                    <section>
                      <hr>
                      <a href="{{ "panther-chameleons-for-sale/#age" | relURL}}" class="btn btn-primary"><i class="fas fa-backward"></i> Go Back</a>
                      <hr>
                      {{ $baseURL := .Site.BaseURL }}

                      <p>Looking for a male Panther Chameleon? Here at iPardalis, each chameleon listed is the exact animal for sale, ensuring complete transparency in your purchase.</p>
                      <p>Our male Panther Chameleons are highly sought after for their vibrant coloration and engaging behavior. As they mature, males develop even more striking colors, making younger males a more affordable option for buyers. Their intricate patterns and bold displays add to their visual appeal, while their territorial behaviors and courtship rituals make them fascinating to observe.</p>
                      <p>Due to high demand, male Panther Chameleons tend to sell quickly. If you see one you love, act fast!</p>
                      
                      <h2>Before You Buy – <a href="{{ "male-ambilobe-panther-chameleons-for-sale/#buyers-guide-for-male-panther-chameleons" | relURL}}">Buyer’s Guide</a></h2>
                      <p>Before making your decision, we highly encourage you to scroll down and read our Male Panther Chameleon Buyer’s Guide. This resource will help you understand care requirements, habitat setup, and what to expect as your chameleon matures.</p>
                      <p>Find your perfect Panther Chameleon today and experience the beauty of these incredible reptiles!</p>
                      <hr>
                      {{ $clutches := sort .Site.Data.clutches "hatchend" "desc" }}
                      {{ $listedclutches := where $clutches "listed" true}}
                      <h5>Males</h5>
                      <div class="row">
                      {{ $.Scratch.Set "babycount" 0 }}
                      {{ range $i, $element := (sort $listedclutches "hatchend" "desc") }}
                      
                        {{ $pairingimage := .image }}
                        {{ $sire := .sire }}
                        {{ $dam := .dam }}
                        {{ $hatchend := .hatchend }}
                        {{ $hatchstart := .hatchstart }}
                        {{ $ageMonths := div (sub now.Unix (time $hatchstart).Unix) 2592000 }}
                        
                        {{ $filial := .filial }}
                        {{ $clutchid := printf "%s%s%s" .sire .dam .laid }}
                        
                        {{ range $j, $baby := .babies }}
                          
                          {{ if .gender }}
                            {{ if eq .gender "Male" }}
                              {{ if ne .listed false }}
                                {{ $.Scratch.Set "babycount" (add ($.Scratch.Get "babycount") 1) }}
                                <div class="col-md-4">
                                  {{ partial "babies.html" (dict "context" . "hatchend" $hatchend "sire" $sire "dam" $dam "page" $.Page "filial" $filial "ageMonths" $ageMonths "scratch" $.Scratch) }}
                                </div>
                                {{ if modBool ($.Scratch.Get "babycount") 3 }}
                                  </div>
                                  <div class="row">  
                                {{ end }}
                              {{ end }}
                            {{ end }}
                          {{ else }}
                          {{ end }}
                        {{ end }}
                      {{ end }}
                          
                      </div>
                      <hr>
                      
                      {{ .Content }}
                      
                      {{ partial "whyipardalis.html" . }}
                      
                  </section>
                </div>
              </div>
            </div>
          </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>