<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <link rel="canonical" href="{{ .Permalink }}" />
  </head>

  <body>
   <div class="elfsight-app-d2eab9d6-490a-41b0-a221-787e53650166" data-elfsight-app-lazy></div>
   <div class="elfsight-app-d269a8f4-4144-4ed8-bfd9-ebfcf89d18da" data-elfsight-app-lazy></div>
    <div id="rainbow">

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
          <div class="container" id="rainbow-available">
          
            <div class="row">
                <div class="col-md-12">
                    <section>
                      <hr>
                      <a href="{{ "panther-chameleons-for-sale/#age" | relURL}}" class="btn btn-primary"><i class="fas fa-backward"></i> Go Back</a>
                      <hr>
                      {{ $baseURL := .Site.BaseURL }}
                      <p>Welcome to our showcase of Rainbow Panther Chameleons! Rainbows are what we call classic wild-type Panther Chameleons—a stunning mix of every color naturally found in their locale. Their bodies can display vibrant combinations of green, yellow, orange, and red, with bars that blend blue and red for a striking contrast.</p>
                      <p>At our breeding program, we prioritize both phenotype purity (YBBB x YBBB) and locale purity (Ambilobe x Ambilobe). This commitment results in exceptionally beautiful Rainbows—naturally occurring color masterpieces. Our unintentional Rainbows from pure phenotypic pairings tend to develop extremely vibrant colors and a clean, well-defined appearance, unlike the more chaotic patterns seen in intentional phenotype crosses (YBBB x RBBB).</p>
                      <p>By maintaining these natural, high-quality pairings, we ensure that our Rainbow Panther Chameleons are among the most visually stunning and genetically pure specimens available.</p>
                      <hr>
                      {{ $clutches := sort .Site.Data.clutches "hatchend" "desc" }}
                      {{ $listedclutches := where $clutches "listed" true}}
                      <h5>Rainbow (indeterminate phenotype)</h5>
                          <div class="row">
                          {{ $.Scratch.Set "babycount" 0 }}
                          {{ range $i, $element := (sort $listedclutches "hatchend" "desc") }}
                          
                            {{ $pairingimage := .image }}
                            {{ $sire := .sire }}
                            {{ $dam := .dam }}
                            {{ $hatchend := .hatchend }}
                            {{ $hatchstart := .hatchstart }}
                            {{ $ageMonths := div (sub now.Unix (time $hatchstart).Unix) 2592000 }}
                            
                            {{ $filial := .filial }}
                            {{ $clutchid := printf "%s%s%s" .sire .dam .laid }}
                            
                            {{ range $j, $baby := .babies }}
                              
                              {{ if .phenotype }}
                                {{ if in .phenotype "Rainbow" }}
                                  {{ if ne .listed false }}
                                    {{ $.Scratch.Set "babycount" (add ($.Scratch.Get "babycount") 1) }}
                                    <div class="col-md-4">
                                      {{ partial "babies.html" (dict "context" . "hatchend" $hatchend "sire" $sire "dam" $dam "page" $.Page "filial" $filial "ageMonths" $ageMonths "scratch" $.Scratch) }}
                                    </div>
                                    {{ if modBool ($.Scratch.Get "babycount") 3 }}
                                      </div>
                                      <div class="row">  
                                    {{ end }}
                                  {{ end }}
                                {{ end }}
                              {{ else }}
                              {{ end }}
                            {{ end }}
                          {{ end }}
                          
                      </div>
                      <hr>
                      {{ .Content }}
                      
                      {{ partial "whyipardalis.html" . }}
                  </section>
                </div>
              </div>
            </div>
          </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>