<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>

  </head>

  <body>
   <div class="elfsight-app-d2eab9d6-490a-41b0-a221-787e53650166" data-elfsight-app-lazy></div>
   <div class="elfsight-app-d269a8f4-4144-4ed8-bfd9-ebfcf89d18da" data-elfsight-app-lazy></div>
    <div id="rainbow">

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
          <div class="container" id="rainbow-available">
          
            <div class="row">
                <div class="col-md-12">
                    <section>
                      <hr>
                      <a href="{{ "panther-chameleons-for-sale/#age" | relURL}}" class="btn btn-primary"><i class="fas fa-backward"></i> Go Back</a>
                      <hr>
                      {{ $baseURL := .Site.BaseURL }}
                      <p>Here, we showcase our exclusive lineup of {{ .Params.phenotype }} Panther Chameleons. Our meticulous breeding practices and individualized care ensure that each chameleon is raised to peak condition, embodying the highest standards of quality in the reptile industry. We strive for phenotype purity as well as locale purity in our breeding program. Rainbows are what we refer to classic wild-type Ambilobe as - a mix of every color in the rainbow.</p>
                      <hr>
                      {{ $clutches := sort .Site.Data.clutches "hatchend" "desc" }}
                      {{ $listedclutches := where $clutches "listed" true}}
                      <h5>Rainbow (indeterminate phenotype)</h5>
                          <div class="row">
                          {{ $.Scratch.Set "babycount" 0 }}
                          {{ range $i, $element := (sort $listedclutches "hatchend" "desc") }}
                          
                            {{ $pairingimage := .image }}
                            {{ $sire := .sire }}
                            {{ $dam := .dam }}
                            {{ $hatchend := .hatchend }}
                            {{ $hatchstart := .hatchstart }}
                            {{ $ageMonths := div (sub now.Unix (time $hatchstart).Unix) 2592000 }}
                            
                            {{ $filial := .filial }}
                            {{ $clutchid := printf "%s%s%s" .sire .dam .laid }}
                            
                            {{ range $j, $baby := .babies }}
                              
                              {{ if .phenotype }}
                                {{ if in .phenotype "Rainbow" }}
                                  {{ $.Scratch.Set "babycount" (add ($.Scratch.Get "babycount") 1) }}
                                  <div class="col-md-4">
                                    {{ partial "babies.html" (dict "context" . "hatchend" $hatchend "sire" $sire "dam" $dam "page" $.Page "filial" $filial "ageMonths" $ageMonths "scratch" $.Scratch) }}
                                  </div>
                                  {{ if modBool ($.Scratch.Get "babycount") 3 }}
                                    </div>
                                    <div class="row">  
                                  {{ end }}
                                {{ end }}
                              {{ else }}
                              {{ end }}
                            {{ end }}
                          {{ end }}
                          
                      </div>
                      <hr>
                      {{ .Content }}
                      
                      {{ partial "whyipardalis.html" . }}
                  </section>
                </div>
              </div>
            </div>
          </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>