<div class="container" id="available">

  <div class="row">
      <div class="col-md-12">
          <section>
            {{ $baseURL := .Site.BaseURL }}
            
            {{ .Content }}
            <button type="button" onclick="introJs().start()" class="btn btn-info">
              Quick Tour
            </button>
            <hr>
            <div class="row">
            {{ $clutches := sort .Site.Data.clutches "hatchend" "desc" }}
            
            {{ $.Scratch.Set "babycount" 0 }}
            {{ range $i, $element := where $clutches ".listed" true }}
            
              {{ $pairingimage := .image }}
              {{ $sire := .sire }}
              {{ $dam := .dam }}
              {{ $hatchend := .hatchend }}
              {{ $hatchstart := .hatchstart }}
              {{ $ageMonths := div (sub now.Unix (time $hatchstart).Unix) 2592000 }}
              {{ $filial := .filial }}
              {{ $clutchid := printf "%s%s%s" .sire .dam .laid }}
              {{ range $j, $baby := .babies }}
                {{ $.Scratch.Set "babycount" (add ($.Scratch.Get "babycount") 1) }}
                <div class="col-md-4">
                  {{ partial "babies.html" (dict "context" . "sire" $sire "dam" $dam "page" $.Page "filial" $filial "ageMonths" $ageMonths "scratch" $.Scratch) }}
                </div>
                {{ if modBool ($.Scratch.Get "babycount") 3 }}
                  </div>
                  <div class="row">  
                {{ end }}
              {{ end }}
            {{ end }}
            </div>
      </section>
    </div>
  </div>
</div>
