<div class="container" id="available">

  <div class="row">
      <div class="col-md-12">
          <section>
            {{ $baseURL := .Site.BaseURL }}
            {{ .Content }}
            
            {{ $clutches := sort .Site.Data.clutches "shipping" }}
            
            {{ range $i, $element := where $clutches ".listed" true }}
            <div class="row">
              <div class="col-md-12">
                  <hr>
                  <div class="heading">
                    <h2>
                      <a href="/tags/{{.sire}}/">{{title .sire}}</a> x 
                      <a href="/tags/{{.dam}}/">{{title  .dam}}</a>
                    </h2>
                  </div>
                  <picture>
                    <source srcset="{{.image}}.webp" type="image/webp">
                    <source srcset="{{.image}}.jpg" type="image/jpeg">
                    <img src="{{.image}}.jpg" alt="Contact Us!" style="width:50%">
                  </picture>
                  <hr>
                  <p><em>{{.filial}}</em></p>
                  {{ if .desc }}
                    <p>{{.desc}}</p>
                  {{ end }}
                  <div class="row">
                    <div class="col-md-4">
                      <dl>
                        <dt>Hatch start:</dt> 
                        <dd>{{ .hatchstart }}</dd>
                        <dt>Hatch end:</dt>
                        <dd>{{ .hatchend }}</dd>
                      </dl>
                    </div>
                    <div class="col-md-4">
                      <dl>
                        <dt>Hatch Rate:</dt> 
                        <dd><sup>{{ .hatchnum }}</sup>&frasl;<sub>{{ .clutchsize }}</sub></dd>
                        <dt>Estimated ship date:</dt>
                        <dd>{{ .shipping }}</dd>
                      </dl>
                    </div>
                  </div>
                  {{ if eq .soldout true }}
                    <hr>
                    <strong>SOLD OUT</strong>
                    <p>Please feel free to contact us via email or check out our <a href="{{ $baseURL }}/babies/upcoming">upcoming clutches</a> and reservation program.</p>
                    
                  {{ else }}
                    
                    <hr><h4>Available Juveniles</h4><hr>
                    <div class="row">
                      {{ range .babies }}
                      <div class="col-md-4">
                        {{ partial "babies.html" . }}
                      </div>
                      {{ end }}
                    </div>
                  {{ end}}
              </div>
            </div>
            {{ else }}
            <hr>
            <strong>SOLD OUT</strong>
            <p>Please feel free to contact us via email or check out our <a href="{{ $baseURL }}/babies/upcoming">upcoming clutches</a> and reservation program.</p>
            {{ end }}

      </section>
    </div>
  </div>
</div>
