<div class="container" id="available">

  <div class="row">
      <div class="col-md-12">
          <section>
            {{ $baseURL := .Site.BaseURL }}
            
            {{ .Content }}
            
            {{ $clutches := sort .Site.Data.clutches "shipping" "desc" }}
            
            {{ range $i, $element := where $clutches ".listed" true }}
            
              {{ $pairingimage := .image }}
              {{ $sire := .sire }}
              {{ $dam := .dam }}
            
            <div style="position:-webkit-sticky; position:sticky;top:75px;margin-left:950px;">
              <picture style="position:absolute;right:-175px">
                <source srcset="{{$pairingimage}}.webp" type="image/webp">
                <source srcset="{{$pairingimage}}.jpg" type="image/jpeg">
                <img src="{{$pairingimage}}.jpg" alt="Contact Us!" style="width:100%;">
                <figcaption>
                  Sire: <a href="{{ ref $.Page (printf "blog/%s/index.md" .sire) }}">{{title .sire}}</a>,
                  Dam: <a href="{{ ref $.Page (printf "blog/%s/index.md" .dam) }}">{{title .dam}}</a>
                </figcaption>
              </picture>
            </div>
            
            <div class="row">
              <div class="col-md-10">
                  <hr>
                  <div class="heading">
                    <h2>
                      <a href="{{ ref $.Page (printf "blog/%s/index.md" .sire) }}">{{title .sire}}</a>
                       x 
                      <a href="{{ ref $.Page (printf "blog/%s/index.md" .dam) }}">{{title .dam}}</a>
                    </h2>
                  </div>
                  <hr>
                  <p><em>{{.filial}}</em></p>
                  {{ if .desc }}
                    <p>{{.desc}}</p>
                  {{ end }}
                  <div class="row">
                    <div class="col-md-4">
                      <dl>
                        <dt>Hatch start:</dt> 
                        <dd>{{ .hatchstart }}</dd>
                        <dt>Hatch end:</dt>
                        <dd>{{ .hatchend }}</dd>
                      </dl>
                    </div>
                    <div class="col-md-4">
                      <dl>
                        <dt>Hatch Rate:</dt> 
                        <dd><sup>{{ .hatchnum }}</sup>&frasl;<sub>{{ .clutchsize }}</sub></dd>
                        <dt>Estimated ship date:</dt>
                        <dd>{{ .shipping }}</dd>
                      </dl>
                    </div>
                    <div class="col-md-4">
                      <dl>
                        {{ if fileExists (printf "/content/blog/%s-%s.md" .sire .dam)}}
                        <dt>Older Siblings:</dt> 
                        <dd><a href="{{ ref $.Page (printf "blog/%s-%s.md" .sire .dam) }}">gallery</a></dd>
                        {{end}}
                      </dl>
                    </div>
                  </div>
                  {{ if eq .soldout true }}
                    <hr>
                    <strong>SOLD OUT</strong>
                    <p>Please feel free to contact us via email or check out our <a href="{{ $baseURL }}/babies/upcoming">upcoming clutches</a> and reservation program.</p>
                    
                  {{ else }}
                    
                    <hr><h4>Available Juveniles</h4><hr>
                    
                    <div class="row">
                      
                      {{ range $j, $baby := .babies }}
                        <div class="col-md-4">
                          {{ partial "babies.html" (dict "context" . "sire" $sire "dam" $dam ) }}
                        </div>
                        {{ if modBool (add $j 1) 3 }}
                        </div>
                        <div class="row">  
                          
                        {{ end }}
                      {{ end }}
                    </div>
                  {{ end }}
              </div>
            </div>
            {{ else }}
            <hr>
            <strong>SOLD OUT</strong>
            <p>Please feel free to contact us via email or check out our <a href="{{ $baseURL }}/babies/upcoming">upcoming clutches</a> and reservation program.</p>
            {{ end }}

      </section>
    </div>
  </div>
</div>
