<form class="orders-form" method="post" action="https://ipardalis.foxycart.com/cart" accept-charset="utf-8" >
  {{ if .context.image }}
  <div class="card">
    <div class="form-group" style="padding:5px;">
      <label><h4>{{.context.name}}</h4></label>
      <picture>
        <source srcset="{{.context.image}}.webp" type="image/webp">
        <source srcset="{{.context.image}}.jpg" type="image/jpeg">
        <img src="{{.context.image}}.jpg" alt="Contact Us!" style="width:100%">
      </picture>
      
      <hr>
        
      {{ if .context.sold }}
        <ul>
          <li><p>{{.context.gender}}</p></li>
        </ul>
        <button class="btn btn-danger disabled" disabled><i class="fa fa-truck"></i>Sold Out</button>
      {{ else }}
        <ul>
          <li><p><strong>${{.context.price}}</strong></p></li>
          <li><p>{{.context.gender}}</p></li>
        </ul>
        <button type="submit" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</button>
      {{ end }}
    </div>
    <input type="hidden" name="name" value="{{ .context.name }} - {{ title .sire }} x {{ title .dam }}" />
    <input type="hidden" name="price" value="{{ .context.price }}" />
    
    <hr>
  </div>
  {{ end }}
</form>