{{ $keywords := .Site.Params.defaultKeywords | default (slice "" | first 0) }}
{{ if isset .Params "tags" }}{{ range .Params.tags }}{{ $keywords = $keywords | append . }}{{ end }}{{ end }}
{{ if isset .Params "keywords" }}{{ range .Params.keywords }}{{ $keywords = $keywords | append . }}{{ end }}{{ end }}

<script type="application/ld+json">
{{ if .IsHome -}}
{
    "@context": "http://schema.org",
    "@type": "OnlineStore",
    "name": {{ .Site.Title }},
    "alternateName": "Individually-raised pardalis",
    "legalName": "iPardalis, LLC",
    "url": {{ .Site.BaseURL }},
    "description": {{ .Site.Params.defaultDescription }},
    "keywords": [{{ delimit (uniq $keywords) ", " }}],
    "logo": {{ .Site.Params.Logo | absURL }},
    "image": {{ .Site.Params.featured_img }},
    "telephone": {{ .Site.Params.telephone }},
    "email": {{ .Site.Params.email }},
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": {{ .Site.Params.telephone }},
      "email": {{ .Site.Params.email }}
    },
    "license": {{ .Site.Params.Copyright }},
    "foundingDate": "2015-04-24",
    "numberOfEmployees": {
      "@type": "QuantitativeValue",
      "value": 2
    },
    "naics": "112990",
    "address": {
      "@type": "PostalAddress",
      "addressCountry": "United States",
      "addressLocality": "Maryland"
    },
    "sameAs": [
      "https://www.facebook.com/{{ .Site.Params.facebook }}",
      "https://www.instagram.com/{{ .Site.Params.instagram }}",
      "https://twitter.com/{{ .Site.Params.twitter }}",
      "https://github.com/{{ .Site.Params.github }}",
      "https://www.linkedin.com/in/{{ .Site.Params.linkedin }}",
      "https://www.youtube.com/@{{ .Site.Params.youtube }}",
      "https://tiktok.com/@{{ .Site.Params.tiktok }}"
    ]
}
{{ else if and (eq .Section "babies") (eq .Params.id "available") }}
{
    "@context": "http://schema.org",
    "@type": "OnlineStore",
    "name": {{ .Site.Title }},
    "alternateName": "Individually-raised pardalis",
    "legalName": {{ .Site.Params.header }},
    "url": {{ .Site.BaseURL }},
    "description": {{ .Description | plainify | safeHTML }},
    "keywords": [{{ delimit (uniq $keywords) ", " }}],
    "logo": {{ .Site.Params.Logo | absURL }},
    "image": {{ .Site.Params.featured_img }},
    "telephone": {{ .Site.Params.telephone }},
    "email": {{ .Site.Params.email }},
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": {{ .Site.Params.telephone }},
      "email": {{ .Site.Params.email }}
    },
    "license": {{ .Site.Params.Copyright }},
    "foundingDate": "2015-04-24",
    "numberOfEmployees": {
      "@type": "QuantitativeValue",
      "value": 2
    },
    "naics": "112990",
    "address": {
      "@type": "PostalAddress",
      "addressCountry": "United States",
      "addressLocality": "Maryland"
    },
    "sameAs": [
      "https://www.facebook.com/{{ .Site.Params.facebook }}",
      "https://www.instagram.com/{{ .Site.Params.instagram }}",
      "https://twitter.com/{{ .Site.Params.twitter }}",
      "https://github.com/{{ .Site.Params.github }}",
      "https://www.linkedin.com/in/{{ .Site.Params.linkedin }}",
      "https://www.youtube.com/@{{ .Site.Params.youtube }}",
      "https://tiktok.com/@{{ .Site.Params.tiktok }}"
    ]
}
{{ else if eq .Section "babies" }}
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "sku": {{ .Params.header_title }},
  "image": [
    {{ print .Params.banner ".webp" }},
    {{ print .Params.baby_image ".webp" }},
    {{ print .Params.sire_tree }},
    {{ print .Params.dam_tree }}
  ],
  "name": {{ .Params.title }},
  "description": {{ print .Params.desc .Params.Description }},
  "brand": {
    "@type": "Brand",
    "name": "iPardalis"
  },
  "offers": {
    "@type": "Offer",
    "url": {{ .Permalink }},
    "itemCondition": "https://schema.org/NewCondition",
    "availability": {{ if .Params.baby_sold }} "https://schema.org/OutOfStock" {{ else }} "https://schema.org/InStock" {{ end }},
    "price": {{ if .Params.discount_price }}{{ .Params.discount_price }}{{ else if .Params.markup_price }}{{ .Params.markup_price }}{{ else }}{{ .Params.price }}{{ end }},
    "priceCurrency": "USD",
    "shippingDetails": {
      "@type": "OfferShippingDetails",
      "shippingRate": {
        "@type": "MonetaryAmount",
        "value": 75,
        "currency": "USD"
      },
      "shippingDestination": {
        "@type": "DefinedRegion",
        "addressCountry": "US"
      },
      "deliveryTime": {
        "@type": "ShippingDeliveryTime",
        "handlingTime": {
          "@type": "QuantitativeValue",
          "minValue": 0,
          "maxValue": 1,
          "unitCode": "DAY"
        },
        "transitTime": {
          "@type": "QuantitativeValue",
          "minValue": 0,
          "maxValue": 1,
          "unitCode": "DAY"
        }
      }
    }
  },
  "review": {
    "@type": "Review",
    "reviewRating": {
      "@type": "Rating",
      "ratingValue": 5,
      "bestRating": 5
    },
    "author": {
      "@type": "Person",
      "name": {{ .Site.Params.author }}
    }
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": 5,
    "reviewCount": 19
  }
}
{{ else }}
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "articleSection": {{ .Section }},
  "headline": {{ .Title }},
  "url" : {{ .Permalink }},
  "wordCount" : {{ .WordCount }},
  "image": {{ print .Params.banner ".webp" }},
  "isFamilyFriendly": "true",
  "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
  "datePublished": {{ .PublishDate }},
  "dateModified": {{ .Lastmod }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author }}
  },
  "creator" : {
    "@type": "Person",
    "name": {{ .Site.Params.author }}
  },
  "accountablePerson" : {
    "@type": "Person",
    "name": {{ .Site.Params.author }}
  },
  "mainEntityOfPage": { "@type": "WebPage" },
   "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Params.header }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ .Site.Params.logo }}
    }
  },
  "copyrightHolder" : {{ .Site.Params.header }},
  "copyrightYear" : "2024",
  "description": {{ .Description | plainify | safeHTML }},
  "keywords": [{{ delimit (uniq $keywords) ", " }}]
}
{{ end }}
</script>