<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <link rel="canonical" href="{{ .Permalink }}" />
  </head>

  <body>
   <div class="elfsight-app-d2eab9d6-490a-41b0-a221-787e53650166" data-elfsight-app-lazy></div>
   <div class="elfsight-app-d269a8f4-4144-4ed8-bfd9-ebfcf89d18da" data-elfsight-app-lazy></div>
    <div id="obbb">

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
          <div class="container" id="obbb-available">
          
            <div class="row">
                <div class="col-md-12">
                    <section>
                      {{ $baseURL := .Site.BaseURL }}
                      <p>Our Ambilobe Panther Chameleons are all available for sale at varying prices based on their age, gender, lineage, and specific coloration. The Ambilobe chameleons for sale here come from a variety of different captive bred bloodlines, resulting in unique and beautiful color patterns. Whether you're looking for a vibrant Yellow Body Blue Bar (YBBB) or a striking Red Body Blue Bar (RBBB), we have you covered. Each chameleon is carefully <a href="https://ipardalis.com/blog/2022/10/14/breeding-strategy/">bred</a> and raised in an <a href="https://ipardalis.com/raising-baby-panther-chameleons/">individual enclosure</a> to ensure they are healthy and well-adjusted before entering your home. If you're interested in adding one of these stunning creatures to your collection, be sure to act fast as they are in high demand.</p>
                      
                      <p>Our chameleons make wonderful pets for those who are willing to put in the time and effort to care for them properly. They require an arboreal habitat with proper <a href="https://chameleonacademy.com/panther-chameleon-care/">lighting, humidity, and temperature levels</a> to thrive. Additionally, a varied diet of insects and supplements is essential for their health and the full expression of their potential. It's important to do <a href="https://ipardalis.com/faq/#panther-chameleon-care-resources">thorough research on chameleon care</a> before bringing one home to ensure you can provide them with everything they need to live a happy and healthy life.</p>

<p>When purchasing one of our chameleons, it's also important to consider the commitment involved. Chameleons require regular care and attention. They are not low-maintenance pets and should only be adopted by those who are dedicated to providing them with the best possible care.</p>

<p>Overall, owning a chameleon is a rewarding experience for those who are prepared to meet their unique needs. With their stunning colors and fascinating behavior, chameleons make for a captivating addition to any reptile enthusiast's collection. If you're ready to take on the challenge of caring for one of our incredible panthers, don't hesitate to reach out and start your chameleon journey with us.</p>
                      <hr>
                      {{ $clutches := sort .Site.Data.clutches "hatchend" "desc" }}
                      {{ $listedclutches := where $clutches "listed" true}}
                      <h5>OBBB (Orange Body Blue Bar)</h5>
                      <div class="row">
                      {{ $.Scratch.Set "babycount" 0 }}
                      {{ range $i, $element := (sort $listedclutches "hatchend" "desc") }}
                      
                        {{ $pairingimage := .image }}
                        {{ $sire := .sire }}
                        {{ $dam := .dam }}
                        {{ $hatchend := .hatchend }}
                        {{ $hatchstart := .hatchstart }}
                        {{ $ageMonths := div (sub now.Unix (time $hatchstart).Unix) 2592000 }}
                        
                        {{ $filial := .filial }}
                        {{ $clutchid := printf "%s%s%s" .sire .dam .laid }}
                        
                        {{ range $j, $baby := .babies }}
                          
                          {{ if .phenotype }}
                            {{ if in .phenotype "OBBB" }}
                              {{ if ne .listed false }}
                                {{ $.Scratch.Set "babycount" (add ($.Scratch.Get "babycount") 1) }}
                                <div class="col-md-4">
                                  {{ partial "babies.html" (dict "context" . "hatchend" $hatchend "sire" $sire "dam" $dam "page" $.Page "filial" $filial "ageMonths" $ageMonths "scratch" $.Scratch) }}
                                </div>
                                {{ if modBool ($.Scratch.Get "babycount") 3 }}
                                  </div>
                                  <div class="row">  
                                {{ end }}
                              {{ end }}
                            {{ end }}
                          {{ else }}
                          {{ end }}
                        {{ end }}
                      {{ end }}
                          
                      </div>
                      <hr>
                      {{ .Content }}
                  </section>
                </div>
              </div>
            </div>
          </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>